---
import BaseLayout from "../components/BaseLayout.astro";
import Attendee from "../components/Attendee.astro";
const data = await fetch(`${Astro.url.origin}/api/getAttendees.json`);
const { RSVP, LUNCH } = await data.json();

// reduce the LUNCH array and add the .pax of each element together

let lunchNum = LUNCH.reduce((acc, item) => acc + item.pax, 0);
let weekendNum = RSVP.reduce((acc, item) => acc + item.pax, 0);
---

<BaseLayout>
  <div class="bg-white rounded-lg shadow-lg p-8 max-w-lg w-full py-10">
    <h1 class="text-2xl font-bold text-zermaBlue mb-6 text-center">
      Confirmed Weekend ({weekendNum})
    </h1>
    <div>
      {RSVP.map((attendee) => <Attendee p={attendee} />)}
    </div>

    <h1 class="text-2xl font-bold text-zermaBlue mb-6 text-center">
      Confirmed Lunch ({lunchNum})
    </h1>
    <div>
      {LUNCH.map((attendee) => <Attendee p={attendee} />)}
    </div>
  </div>
</BaseLayout>
